@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #B1A2CA, #E9CDD0);
    height: 100vh;
}

.container{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hwb(262 47% 6%);
    padding: 15px;
    border-radius: 15px;
    width: 25em;
}

fieldset{
    border: 3px solid #4B376E;
    padding: 8px;
}

legend{
    border: 1px solid #4B376E;
    padding: 10px;
    text-align: center;
    background-color: #4B376E;
    border-radius: 5px;
    user-select: none;
}

.inputContainer{
    position: relative;
    height: 5px;
}

.inputUsuario{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none; /* Remove a parte quadrada do input*/
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s; /* Deixa as transições mais fluidas */
}

/* Ao campo estar selecionado, irá fazer uma ação com o label */
.inputUsuario:focus ~ .labelInput,
.inputUsuario:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: #4B376E;
    font-weight: bold;
}

#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#submit{
    background-color: #4B376E;
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.482);
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

#submit:hover{
    background-color: #34264d;
}